<nav>
    {{#if category.subcategories}}
        <div class="sidebarBlock">
            <h5 class="sidebarBlock-heading">{{category.name}}</h5>
            <ul class="navList">
                {{#each category.subcategories}}
                <li class="navList-item">
                    <a class="navList-action" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}

    {{!--Task 1 - Add sidebar with categories--}}
    <div class="sidebarBlock">
        {{!-- Task 2 - Add Button that will add 3 products to cart --}}
        <div>
        <button type="button" class="button button--icon" id="add3ToCart">
            Add 3 Items
        </button>
        </div>
        <h5 class="sidebarBlock-head">Navigation</h5>
        <ul class="navList">
        {{#each categories}}
        <li class="navList-item">
            <a class="navList-action" href="{{ url }}" title="{{ name }}">{{
            name
            }}</a>
        </li>
        {{/each}}
        </ul>
    </div>

    {{#if category.faceted_search_enabled}}
        {{> components/faceted-search/index category}}
    {{else}}
        {{> components/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
    {{/if}}
</nav>